/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Podkova:wght@400..800&display=swap');

/* Asterix wildcard selector to overide default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* general styles */
body {
    font-family: 'Lato', sans-serif;
    color: #13261F;
    /* responsive features */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

h1, h2, h3 {
    font-family: 'Podkova', sans-serif;
    color: #13261F;
    letter-spacing: 1px;
}

/* header styles */
header {
    background-color: #13261F;
    width: 100%;
    padding: 0 1rem;
    /* to stay visible when scrolling */
    position: fixed;
    z-index: 99;
    /* soft box shadow for visual depth/float */
    box-shadow: 0 2px 5px #45554a;
    /* formatting for nav bar placement */
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: #db9c0c;
}

#logo-image {
    width: 40px;
    float: left;
    margin: 0 10px 0 0;
}
 
#logo-name {
    color: #db9c0c;
    font-weight: 500;
    width: 9em;
    padding: 0.5em;
}

#menu {
    font-family: 'Podkova', sans-serif;
    font-size: 130%;
    list-style-type: none;
    /* font spacing - 1px only for podkova */
    letter-spacing: 1px; 
}

#menu > li {
    margin-bottom: 0.5em;
}

/* color change of menu item when on page*/
.active {
    color: #C74E24;
    border-bottom: 1px solid #C74E24;
}


/* Navbar styles with dropdown toggle from 'love running' */
nav {
    position: absolute;
    background-color: #13261F;
    width: 100%;
    left: 0;
    padding:0 1rem;
    box-shadow: 0 2px 5px #45554a;
    display: none;
    top: 100%;
    color: #db9c0c;
    
}

/* Nav toggle - from 'love running' */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

#nav-toggle-label {
    font-size: 2rem;
    color: #db9c0c;
    padding-top: 5px;
}

/* main content */
main {
    background-color: #FCF8F0;
    /* sets page spacing with footer to bottom of view */
    flex: 1 0 auto;
    /* prevents header overlaping content in main*/
    margin-top: 55px;
    /* gives section elements flex properties*/
    display: flex;
    flex-direction: column;
}

/* Hero section*/
.hero {
    width: 100%;
    height: 250px;
    background: url(../images/hero1.webp) no-repeat right center/cover;
    /* to enable hero title positioning*/
    position: relative;
}

#hero-title {
    font-size: 150%;
    background-color: rgba(158, 158, 123, 0.5);
    padding: 10px 20px;
    width: 270px;
    height: 100px;
    /* to keep title at bottom left of hero image*/
    position: absolute;
    bottom: 0;
    /* to round background box corners on right edge */
    border-radius: 0 15px 15px 0;
}
#hero-title h1,h2 {
    color: #fdefd0;
}

/* Publications page*/
#publications {
    margin: 10px 20px;
}

#publications-header {
    padding-bottom: 10px;
}

#publications-list p {
    font-size: 13px;
    padding-bottom: 5px;
    /* to create overhanging first word*/
    margin-left: 30px;
    text-indent: -30px;
}

/* Contact Page*/
#contact {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#contact-block {
    /* allows the details and message divs to wrap on wider screens */
    display: flex;
    flex-wrap: wrap;
    margin: 5px 20px;
}

#contact-block div {
    flex-basis: 250px;
    flex-grow: 1;
}

#contact-title {
    color: #13261F;
    padding: 5px;
    margin: 0 20px;
}

.text-input {
    width: 100%;
    padding: 5px;
    margin: 5px 0;
    background: transparent;
    border-radius: 5px;
    border: 1px solid #13261F;
}

/* footer */
footer {
    background-color: #13261F;
    text-align: center;
}

#professional-networks {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

#professional-networks i{
    color: #db9c0c;
    font-size: 150%;
    padding: 10px;
}

#copyright {
    color: #db9c0c;
    font-size: 10px;
    padding-bottom: 10px;
}

/* all media querys */

/* for small screens below 768px*/
@media screen and (max-width: 767px){
/* publications*/
 /* to hide extended author list for small screens*/
 .hidden-authors {
    clip-path: inset(100%);
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
 }
}

/* tablets and up from 768px */
@media screen and (min-width: 768px) {
    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu > li {
        padding-left: 1rem;
    }

    #nav-toggle-label {
        display: none;
    }

    #logo-image {
        margin: 5px 10px 0 0;
    }

    /* Main */
    main {
        margin-top: 51px;
    }
    
    /* Hero section */
    .hero {
        height: 300px;
    }

    /* publications*/
    #publications-header {
        padding-bottom: 20px;
        font-size: 120%;
    }

    #publications-list p {
        font-size: 14px;
        padding-bottom: 10px;
    }

    /* to reveal extended author list for larger screens*/
    .et-al {
        clip-path: inset(100%);
        clip: rect(1px, 1px, 1px, 1px);
        height: 1px;
        overflow: hidden;
        position: absolute;
        white-space: nowrap;
        width: 1px;
    }

}

/* laptops and up from 992px */
@media screen and (min-width: 992px) {
    /* Header */ 
    #logo-image {
        width: 55px;
    }

    #logo-image:hover {
        border: 1px solid #9E9E7B;
    }
    
    #logo-name {
        font-size: 2rem;
    }

    #logo-name:hover {
        color: #9E9E7B;
    }

    nav {
        font-size: 1.5rem;
    }

    #menu a:hover {
        color: #9E9E7B;
        border-bottom: 1px solid #9E9E7B;
    }
    /* Main */
    main {
        margin-top: 67px;
    }

     /* Hero section */
     .hero {
        height: 400px;
    }

    #hero-title {
        font-size: 200%;
        width: 350px;
        height: 130px;
    }

    /* Publications */
    #publications-header {
        padding-bottom: 20px;
        font-size: 150%;
    }

    #publications-list p {
        font-size: 16px;
        /* to increase overhanging first word*/
        margin-left: 50px;
        text-indent: -50px;
    }
}


/* largest screens only - above 1200px */
@media screen and (min-width: 1200px) {
    /* Header */
    #logo-image {
        width: 65px;
    }
    
    #logo-name {
        font-size: 2.5rem;
        padding: 0.5em 2em;
        width: 10em;
    }
    
    #menu > li {
        padding-left: 3rem;
    }

    /* Main */
    main {
        margin-top: 84px;
    }

    /* Hero section */
    .hero {
        height: 500px;
    }
}