/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Podkova:wght@400..800&display=swap');

/* Asterix wildcard selector to overide default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* general styles */
body {
    font-family: 'Lato', sans-serif;
    color: #13261F;
    display: flex;
    flex-direction: column;
}

h1, h2, h3 {
    font-family: 'Podkova', sans-serif;
    color: #13261F;
}

/* header styles */
header {
    background-color: #13261F;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

#logo-image {
    width: 40px;
}

#logo-name {
    color: #db9c0c;
    text-decoration: none;
}